%p Age: #{@orange_tree.age}
%p Height: #{@orange_tree.height}
%p Fruit: #{@orange_tree.fruit}

%p
  %a{:href => "/one_year_passes?id=#{@orange_tree.id}" } Make a year pass
  
- if @orange_tree.age > 4
  %p
    %a{:href => "/pick_orange?id=#{@orange_tree.id}" } Pick orange 
    %p #{@taste}